<h2><%= "#{@user.name}さんの#{@group.name}希望休" %></h2>

<br>
<%= form_with url: grouping_path(@grouping), method: :get, local: true do |form| %>
  <%= form.label :year, "年" %>
  <%= form.select :year, (2023..2025) %>
  <%= form.label :month, "月" %>
  <%= form.select :month, (1..12).map { |month| [I18n.t("date.month_names")[month], month] } %>
  <%= form.submit '絞り込み'%>
<% end %>


<% if @holidays.present? %>
  <table>
    <% @holidays.each do |sesired_holiday| %>
      <tr>
        <td><%= "#{sesired_holiday.my_holiday}" %></td>
        <td><%= link_to "取り消し", sesired_holiday_path(id: sesired_holiday.id, user_id: @user.id, grouping_id: @grouping.id), method: :delete, date: {confirm: "#{sesired_holiday.my_holiday}を取り消しますか？"} %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>希望休を申請していません</p>
<% end %>
<br>
<br>
<%= link_to "希望休を申請する", new_sesired_holiday_path(user_id: @user.id, group_id: @group.id) %>
<br>
<br>
<%= link_to "#{@group.name}に戻る", group_path(@group) %>
<br>
