<h2><%= "#{@user.name}さんの#{@group.name}希望休" %></h2>

<br>
<% if @sesired_holidays.present? %>
  <table>
    <% @sesired_holidays.each do |sesired_holiday| %>
      <tr>
        <td><%= "#{sesired_holiday.my_holiday}" %></td>
        <td><%= link_to "取り消し", sesired_holiday_path(id: sesired_holiday.id, user_id: @user.id, grouping_id: @grouping.id), method: :delete, date: {confirm: "#{sesired_holiday.my_holiday}を取り消しますか？"} %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>希望休を申請していません</p>
<% end %>
<br>
<br>
<%= link_to "希望休を申請する", new_sesired_holiday_path(user_id: @user.id, group_id: @group.id) %>
<br>
<br>
<%= link_to "#{@group.name}に戻る", group_path(@group) %>
<br>
