<h2><%= "#{@group.name}" %></h2>

<br>
<table>
  <tr>
    <th>社員名簿</th>
    <th colspan="2"></th>
  </tr>
  <%# binding.pry #%>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <% if current_user == @group.owner || current_user.admin %>
        <td><%= link_to "除名", grouping_path, method: :patch, data: {confirm: "#{user.name}さんを除名してもよろしいですか？"} %></td>
      <% end %>
      <% if current_user.admin %>
        <td><%= link_to "完全除名", grouping_path, method: :delete, data: {confirm: "#{user.name}さんを完全に除名してもよろしいですか？"} %></td>
      <% end %>
    </tr>
  <% end %>
  <%# binding.pry #%>
  
</table>
<br>
<%= link_to "ユーザーを招待する", groupings_path if current_user == @group.owner || current_user.admin %>
