<h2><%= "#{@group.name}" %></h2>

<br>
<table>
  <tr>
    <th>社員名簿</th>
    <th colspan="2"></th>
  </tr>
  <%# binding.pry #%>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <% if current_user == @group.owner || current_user.admin %>
        <td><%= link_to "除名", grouping_path(user_id: user.id), method: :patch, data: {confirm: "#{user.name}さんを除名してもよろしいですか？"} %></td>
        <td><%= link_to "オーナー譲渡", group_change_owner_path(@group.id, user.id), method: :patch, data: {confirm: "#{user.name}さんにオーナー権限を譲渡してもよろしいですか？"} unless user == @group.owner %></td>
      <% end %>
      <% if current_user.admin %>
        <td><%= link_to "完全除名", grouping_path(user_id: user.id), method: :delete, data: {confirm: "#{user.name}さんを完全に除名してもよろしいですか？"} %></td>
      <% end %>
    </tr>
  <% end %>
  <%# binding.pry #%>
  
</table>
<% if current_user == @group.owner || current_user.admin %>
  <br>
  <%= link_to "ユーザーを招待する", groupings_path(group_id: @group.id) %>
  <br>
  <%= link_to "グループ編集", edit_group_path(@group) %>
  <br>
  <%= link_to "グループ削除", group_invalid_path(@group), method: :patch, date: {confirm: "#{@group.name}を削除してもよろしいですか？"} %>
<% end %>
<% if current_user.admin %>
  <br>
  <%= link_to "グループ完全削除", group_path(group_id: @group.id), method: :delete, date: {confirm: "#{@group.name}を完全に削除してもよろしいですか？"} %>
<% end %>
<br>
